<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,68},{24,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{24,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{336,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,68}}</string>
                <key>sourceSize</key>
                <string>{336,68}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,76},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{720,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,7}}</string>
                <key>sourceSize</key>
                <string>{720,7}</string>
            </dict>
            <key>2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2043},{2,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,50}}</string>
                <key>sourceSize</key>
                <string>{2,50}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,1284},{720,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,2}}</string>
                <key>sourceSize</key>
                <string>{720,2}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,46},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,46},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2006},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,46},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{113,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{113,42}}</string>
                <key>sourceSize</key>
                <string>{115,48}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{113,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{113,43}}</string>
                <key>sourceSize</key>
                <string>{115,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>clubManagement.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:209dce48f052ccaa7e8ff09b7cec8ac6$</string>
            <key>textureFileName</key>
            <string>clubManagement.png</string>
        </dict>
    </dict>
</plist>
