<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,206}}</string>
                <key>sourceSize</key>
                <string>{720,206}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{720,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,106}}</string>
                <key>sourceSize</key>
                <string>{720,106}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,127},{60,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,79}}</string>
                <key>sourceSize</key>
                <string>{60,83}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,189},{58,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,83}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,64},{61,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,79}}</string>
                <key>sourceSize</key>
                <string>{61,83}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,249},{61,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,82}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,414},{58,77}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,77}}</string>
                <key>sourceSize</key>
                <string>{58,81}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,448},{56,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{56,80}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,386},{60,77}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,77}}</string>
                <key>sourceSize</key>
                <string>{60,81}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{60,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,206},{100,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,99}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,312},{100,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,77}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,307},{100,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,77}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,724},{102,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{102,83}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,876},{103,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{103,84}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamblingparty.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2af30210c28f4e8e0b636ce0f45139b6$</string>
            <key>textureFileName</key>
            <string>gamblingparty.png</string>
        </dict>
    </dict>
</plist>
