<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FK_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1761},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>FK_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1573},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>FK_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1433},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>FK_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1433},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>FK_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1730},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>FK_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>FK_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1402},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>FK_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1402},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>FK_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1293},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>FK_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1293},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>FK_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1293},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>FK_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1262},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>FK_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1262},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HT_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1153},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HT_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1153},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HT_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1153},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HT_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1122},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HT_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1122},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HT_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1013},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HT_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1013},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HT_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1013},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HT_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,982},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HT_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,982},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HT_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,873},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HT_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,873},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HT_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,873},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HX_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,842},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HX_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,842},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HX_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,733},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HX_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,733},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HX_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HX_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,702},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HX_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,702},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HX_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,593},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HX_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,593},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HX_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HX_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,562},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HX_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,562},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>HX_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,453},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>MH_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,453},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>MH_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>MH_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,422},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>MH_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,422},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>MH_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,313},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>MH_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,313},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>MH_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>MH_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,282},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>MH_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,282},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>MH_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,173},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>MH_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,173},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>MH_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>MH_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,142},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>Straddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,755},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>allin.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,713},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,599},{70,72}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>bet_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,527},{70,72}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>bet_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,455},{70,72}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>bet_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,381},{72,74}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,866},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>call.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,671},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>countDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1918},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>discard.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,247},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>ic_common_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,53},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{48,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ic_menu-i6p.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,319},{78,60}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,76},{78,60}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ic_menu_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{587,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,169}}</string>
                <key>sourceSize</key>
                <string>{587,169}</string>
            </dict>
            <key>ic_operate_blue_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1725},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{147,147}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>ic_operate_green_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1874},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{147,147}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>ic_operate_img_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,934},{33,61}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,48},{33,61}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>ic_operate_img_fold.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,55},{49,49}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>ic_operate_img_raise.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,797},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,46},{67,67}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>ic_operate_red_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1725},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{147,147}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>ic_xiaopai-i6p.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,969},{35,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{35,36}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>poker_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,142},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>poker_card_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>poker_gray_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,2},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>raise.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,175},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>see.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,103},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>vacancy.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1573},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>vacancy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1433},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pk.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59b0464f774fef0cd0161f6ba92b9b34$</string>
            <key>textureFileName</key>
            <string>pk.png</string>
        </dict>
    </dict>
</plist>
